---
import '@mux/mux-uploader';
import { postUpload } from '../services/mux-service';

const uploadRes = await postUpload();
const { url, id } = uploadRes.data;
console.log('POST UPLOAD:', url);



if (Astro.request.method === "POST") {
  
  try {
    const data = await Astro.request.formData();
    
    const base64String = data.get("base64String");
    const mimeType = data.get("mimeType");
    console.log(base64String);
    console.log(mimeType);
    
    
    
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<div class="mt-4 flex-row flex justify-center" transition:animate="slide">
  <mux-uploader></mux-uploader>
  <a
    class="bg-blue-200 hover:bg-blue-400 dark:text-white dark:bg-slate-700 dark:hover:bg-slate-800 hover:scale-105 py-3 px-4 rounded-md transition-all duration-200 ease-in-out"
    href="/video-results"
  >
    Go to results
  </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>

<script define:vars={{ url, id }}>
  const muxUploader = document.querySelector("mux-uploader");
  muxUploader.endpoint = url;

  muxUploader.addEventListener("file-ready", function (e) {
    const file = e.detail;
    const reader = new FileReader();

    reader.onload = (event) => {
      // The `onload` event is triggered when the reading of the file is finished.
      const base64 = event.target.result; // Obtener la cadena Base64 del resultado del evento
      var uint8Array = new Uint8Array(base64);

      // Convert the Uint8Array to a binary string
      var binaryString = '';
      for (var i = 0; i < uint8Array.length; i++) {
        binaryString += String.fromCharCode(uint8Array[i]);
      }

      // Encode the binary string in base64
      var base64String = btoa(binaryString);
      const mimeType = file.type;

      (async () => {
        const formData = new FormData();
        formData.append('base64String', base64String);
        formData.append('mimeType', mimeType);


        try {
          const response = await fetch('/', {
            method: 'POST',
            body: formData,
          });

          if (!response.ok) throw new Error('Network response was not ok.');
          console.log('Registrado con éxito');
        } catch (error) {
          console.error('Error:', error);
        }
      })();


    

      };
      reader.readAsArrayBuffer(file);
    });


  muxUploader.addEventListener("success", () => {
    //location.href = `/video-results/${id}`;
  });
</script>
