---
import '@mux/mux-uploader';
import { postUpload } from '../services/mux-service';

const { MUX_TOKEN_ID, MUX_TOKEN_SECRET } = import.meta.env;
const res = await postUpload(MUX_TOKEN_ID, MUX_TOKEN_SECRET);
const url = res.data.url;
---

<div>
  <mux-uploader></mux-uploader>
</div>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>

<script define:vars={{ url }}>
  const muxUploader = document.querySelector("mux-uploader");
  muxUploader.endpoint = url;

  muxUploader.addEventListener("success", () => {
    location.href = '/video-results';
  })
</script>
