---
import '@mux/mux-uploader';
import { postUpload } from '../services/mux-service';

const uploadRes = await postUpload();
const { url: uploadUrl, id } = uploadRes.data;
console.log('POST UPLOAD:', uploadRes.data)
---

<div>
  <mux-uploader></mux-uploader>
</div>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>

<script define:vars={{ uploadUrl, id }}>
  const muxUploader = document.querySelector("mux-uploader");
  muxUploader.endpoint = uploadUrl;

  muxUploader.addEventListener("success", () => {
    location.href = `/video-results/${id}`;
  });
</script>
