---
import ColorModeSwitcher from '../components/ColorModeSwitcher.astro';
import { url } from '../lib/data.js';
---

<nav
	class="fixed z-50 w-full bg-white border-b border-gray-200 sm:py-2 dark:bg-gray-800 dark:border-gray-700"
>
	<div class="container py-3 mx-auto">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a href={url('')} class="flex mr-4">
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>Hackathon</span
					>
				</a>
			</div>

			<div>
				<ColorModeSwitcher />
			</div>
		</div>
	</div>
	
</nav>
