<p class="my-10 text-sm text-center text-gray-500">
	Made using 
	<a href="https://astro.build/" class="underline" target="_blank">Astro</a>,
	<a href="https://gemini.google.com/" class="underline" target="_blank">Gemini</a>
	and
	<a href="https://flowbite.com/" class="underline" target="_blank">Flowbite</a>.
</p>
