---
import type { IObservation } from "../types/endpointTypes";
import Observation from "./Observation.astro";

const { observations } = Astro.props;
---
<div
  class="max-h-[278px] xl:max-h-[482px] tab-content"
  id="positive"
  role="tabpanel"
  aria-labelledby="positive-tab"
>
  <ul
    class="flex-col text-md font-medium text-gray-500 divide-y divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400"
    id="fullWidthTab"
    data-tabs-toggle="#fullWidthTabContent"
    role="tablist"
  >
    {observations.map((obs: IObservation) => <Observation {...obs}/>)}
  </ul> 
</div>

<style>
.tab-content {
  overflow-x: hidden;
}  
</style>
